.elementor .tt-testimonials {
	width: calc(100% + 2px);
}
.tt-testimonials-inner {
	margin-right: 1px;
	overflow: hidden;
}
.tt-testimonials-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.tt-testimonials-img-wrap .tt-testimonials-img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.tt-testimonials-img-wrap {
	overflow: hidden;
	line-height: 0;
}
.tt-testimonials-title,
.tt-testimonials-name,
.tt-testimonials-position,
.tt-testimonials-date {
	width: 100%;
}
.tt-testimonials-comment {
	max-width: 100%;
	background-color: #6ec1e4;
}
.tt-testimonials-icon-before,
.tt-testimonials-icon-after {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.tt-testimonials-icon-before .tt-testimonials-icon-inner,
.tt-testimonials-icon-after .tt-testimonials-icon-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}